<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LEDPixelArt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17F4DD051E4A2E9C000110BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F4DD1C1E4A2E9D000110BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F4DD271E4A2E9D000110BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
